*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
}
.fa-apple{
    font-size: 3.2rem;
    width: 50px;
    cursor: pointer;
    margin: 20px 0;
    color: #CDCDCD;
}
.fa-apple:hover{
    color: #BACFE4;
    transform: scale(1.09);
    transition: 0.2s;
}
.fa-bars{
    width: 25px;
    cursor: pointer;
    display: none;
    visibility: hidden;
}
nav{
    margin-top: -3%;
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}
nav ul li a{
    text-decoration: none;
    color: #CDCDCD;
    font-size: 14px;
}
nav ul li a:hover{
    color: #2a1bfa;
}
nav ul li:hover{
    transform: scale(1.1);
    transition: 0.3s ease-in;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    margin: 10px 0;
}
.col-1{
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
    font-family: "Monserrat", sans-serif;
}
.col-1 h2{
    font-family: "Poppins";
    font-size: 54px; 
    font-weight: bold;  
}
.col-1 h3{
    font-size: 30px;  
    color: #707070; 
    font-weight: 100;
    margin: 20px 0 10px;
}
.col-1 p{
    font-size: 16px;
    color: #d7d7d7;
    font-weight: 100;
}
.col-1 h4{
    margin: 30px 0;
    font-size: 20px;
}
button{
    font-weight: 900;
    width: 140px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: #fff;
    background: linear-gradient(to right, #147CE5, #0e4e8f);
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
}
button:hover{
    font-size: 0.9rem;
    align-items: center;
    justify-content: space-between;
    transform: scale(1.2);
    transition: 0.4s ease;
    color: #B7DFEB;
}
.col-1::after{
    content: '';
    width: 10px;
    height: 57%;
    background: linear-gradient( #012e5c, #371cd4);
    position: absolute;
    left: -40px;
    top: 8px;
}
.col-2{
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;    
}
.col-2 .controller{
    width: 90%;
}
img{
    width: 80%;
    margin: 15% 0px 0px 0px ;
}
.color-box{
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(#1b5792, #1c088d);
    border-radius: 20px 0 0 20px;
    height: 100%;
    width: 80%;
    z-index: -1;
    transform: translateX(150px);
}
.add-btn i{
    font-size: 2rem;
    width: 35px;
    margin-bottom: 5px;
}
.add-btn:hover{
    transform: scale(1.1);
    transition: 0.4s;
    color: #B7DFEB;
}
.add-btn{
    text-align: center;
    color: #fff;
    cursor: pointer;
    transition: 0.4s;
}
.colors h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    margin-top: 15%;
}
.color{
    font-family: 'Montserrat', sans-serif;
    margin-top: 10%;
    margin-left: 30%;
    margin-bottom: 0;
    transition: 2s ease;
}
.color h3{
    margin-bottom: -3;
    overflow: hidden;
    white-space: nowrap;
}
.social-links i{
    height: 13px;
    margin: 20px;
    cursor: pointer; 
    color: #000;   
}
.social-links i:hover{
    color: #2a1bfa;
    transform: scale(1.3);
    transition: 0.2s ease;
}
.social-links{
    text-align: center;
    margin-top: 10%;
}
@media only screen and (max-width:700px){
    .fa-apple{
        font-size: 2rem;
    }
    nav ul{
        width: 100%;
        border-radius: 15px;
        background: black;
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
        text-align: center;
    }
    nav ul li{
        display: block;
        margin-top: 1px;
        margin-bottom: 0px;
    }
    nav ul li a{
        color: #fff;
    }
    .fa-bars{
        font-size: 2.7rem;
        display: block;
        margin-top: 0;
        visibility: visible;
    }
    #menuList{
        overflow: hidden;
        transition: 0.5s;
    }
    .row{
        flex-direction: column-reverse;
        margin: 50px 0;
    }
    .col-2{
        flex-basis: 100%;
        margin-bottom: 50px;
    }
    .col-2 .controller{
        width: 77%;
    }
    .color-box{
        transform: translateX(75px);
    }
    .col-1{
        flex-basis: 100%;
    }
    .col-1 h2{
        font-size: 35px;
    }
    .col-1 h3{
        font-size: 15px;
    }
    img{
        width: 80%;
    }
    .colors h3{
        font-size: 0.9rem;
    }
}
